html {
  font-family: "Lato", Helvetica, sans-serif;
}
body {
  width: 100%;
  margin-left: 0px;
}
.column {
  display: flex;
  flex-direction: column;
}
.row {
  display: flex;
  flex-direction: row;
}
.fixed-bar {
  position: fixed;
  justify-content: space-between;
  flex-wrap: nowrap;
  width: 100%;
  height: 5vh;
  margin-top: -0.5em;
}
.home {
  background-color: #393939;
  background-image: url("../img/bg.jpg");
  width: 100%;
  height: 80vh;
  color: white;
  text-align: center;
  margin-top: 6%;
  scroll-margin-top: 5rem;
  font-size: 2em;
}
.nav-item {
  width: 16.8vw;
  padding-top: 8px;
  text-align: center;
  background-color: #393939;
  text-decoration: none;
  color: white;
  overflow: hidden;
  font-weight: 300;
}
.logo {
  padding: 2px 10vw 2px 0;
  width: 16vw;
  background-color: white;
}
.nav-item:hover {
  color: #393939;
  background-color: #54be90;
}
.head {
  justify-content: center;
  align-items: center;
  margin-top: 3em;
}
.headt {
  font-weight: 400;
}
.head-name {
  color: #54be90;
  border-bottom: 0.15em solid white;
  margin-left: 0.5em;
}
.head-sec {
  margin-top: -0.5em;
}
.intro {
  background-color: #ebebeb;
}
.intro__description {
  align-self: center;
  text-align: center;
  font-size: 1.5em;
  margin: 3.5em;
  z-index: 1;
}
.intro__paras {
  justify-content: center;
  align-items: flex-start;
  text-align: center;
  background-color: #232323;
  color: white;
  padding-bottom: 2em;
}
.circle {
  width: 10vw;
  height: 10vw;
  background-color: #ebebeb;
  align-self: center;
  border-radius: 50%;
  margin-top: -5vw;
}
.columni {
  font-weight: 300;
  width: 20%;
  font-size: 1.2em;
  /* padding: 0 4em; */
}
.intro__head {
  font-size: 1.3em;
  margin-top: 1.5em;
  font-weight: 900;
  color: #54be90;
}
.para {
  align-self: center;
  width: 70%;
}
